<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoQA">
<listeners>
		<listener class-name="com.atmecs.ExtentReporterNG" />
	</listeners>
	<test  name="DemoQA Web Page Test Cases">
		<classes>
			<class name="com.atmecs.Scripts"></class>
		
		</classes>
	</test> 
</suite>